<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="Přihlášení">
                <setting label="Login" type="text" id="username" default=""/>
                <setting label="Heslo" type="text" id="password" option="hidden" enable="!eq(-1,false)" default=""/>
                <setting label="Device Id (libovolný alfanumerický řetězec)" type="text" id="deviceid" default=""/>
                <setting label="Nová O2 session" type="action" action="RunPlugin(plugin://plugin.video.o2tv?action=reset_session)"/>
	</category>
	<category label="Nastavení">
                <setting label="Historie vyhledávání" type="number" id="search_history" default="10"/>
                <setting label="Skrýt Nastavení O2TV v menu" type="bool" id="hide_settings" default="false"/>
	</category>
	<category label="IPTV Simple Client">
                <setting label="Adresář pro playlist a EPG" type="folder" id="output_dir" default=""/>
                <setting label="Automaticky generovat EPG" type="bool" id="autogen" default="false"/>
                <setting label="Interval pro generování EPG (hod.)" type="slider" id="epg_interval" range="1,1,24" default="12" option="int"/>
                <setting label="Catchup mod" type="select" id="catchup_mode" values="append|default" default="append"/>
                <setting label="Generovat playlist" type="action" action="RunPlugin(plugin://plugin.video.o2tv?action=generate_playlist)"/>
                <setting label="Generovat EPG" type="action" action="RunPlugin(plugin://plugin.video.o2tv?action=generate_epg)"/>
	</category>    
    <category label="Logování">
                <setting label="Logování požadavků - URL" type="bool" id="log_request_url" default="false"/>
                <setting label="Logování požadavků - data (logují se i citlivá data!)" type="bool" id="log_request_data" default="false"/>
                <setting label="Logování odpovědí" type="bool" id="log_response" default="false"/>
	</category>
</settings>
